.scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
    padding: 10px 0px;
}

.scroll-content {
    display: flex;
    gap: 20px;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-duration: 20s; */
    width: max-content;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.scroll-container:hover .scroll-content {
    animation-play-state: paused;
}