.main {
    border: 0.2vh solid #4e4e4d;
    /* background-color: #1e1d1d; */
    background-color: #333231;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    color: #f5dab5;
}

.block {
    height: 100%;
    overflow: auto;
    padding: 2vw 4% 0% 3%;

}

.tab_container {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    /* background-color: #333231; */
}

.tab_inner_container {
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #4e4e4d;
    border-bottom-left-radius: 1vw
}

.tab {
    display: flex;
    align-items: center;
    padding: 1.2vw 3vw;
    font-size: 1vw;
    font-weight: 900;
    cursor: pointer;
    color: #f5dab5;
    transition: 0.2s;

}

.selected_tab {
    color: goldenrod;
}