.main {
    border: 0.2vh solid #4e4e4d;
    /* background-color: #1e1d1d; */
    background-color: #333231;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    color: #f5dab5;
}

.block {
    height: 100%;
    overflow: auto;
    padding: 2vw 4% 0% 3%;
    display: flex;
    flex-direction: column;

}

.tab_container {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    /* background-color: #333231; */
}

.tab_inner_container {
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #4e4e4d;
    border-bottom-left-radius: 1vw;
    overflow: hidden;
}

.tab {
    display: flex;
    align-items: center;
    padding: 1.2vw 3vw;
    font-size: 1vw;
    font-weight: 900;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.5s;
}

/* .tab:hover {
    color: goldenrod;
    background-color: #25252570;
} */

.selected_tab {
    transition: 1s;
    background-color: goldenrod;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

@media (max-width: 600px) {
    .tab_container {
        all: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 12;
    }

    .tab_inner_container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 60px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        overflow: hidden;

    }

    .block {
        padding: 10px;

    }

    .tab {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        padding: none;
        justify-content: center;

    }


}