.tatle_block {
    display: flex;
    gap: 1vw;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    color: #f5dab5;
}

.title {
    font-size: 1.9vw;
    font-weight: 900;
    width: fit-content;
    position: relative;
    margin-bottom: 2vw;
    text-transform: capitalize;
    color: #f5dab5;

}

.title::after {
    left: 0;
    top: 100%;
    position: absolute;
    content: "";
    border: 0.4vh solid goldenrod;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    animation: tab 1s ease-in-out forwards;
}


.title2 {
    font-size: 1.5vw;
    text-transform: capitalize;
    margin: 3vh 0px;
}

.icon {
    width: 2.8vw;
    height: 2.8vw;
    background-color: #4e4e4d;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.icon img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tatle_block:hover {
    cursor: pointer;
}

.tatle_block:hover .icon {
    box-shadow: 0px 0px 9px goldenrod;
    mix-blend-mode: difference;
}

@media (max-width: 600px) {
    .title {
        font-size: 24px;
        font-weight: 900;
    }

    .title::after {
        top: 110%;
    }

    .tatle_block {
        gap: 13px;
    }

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 7px;

    }

    .icon img {
        width: 70%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.title2 {
    font-size: 19px;
}



@keyframes tab {
    0% {
        width: 0%;
        opacity: 0.5;
    }

    100% {
        width: 40%;
        opacity: 1;
    }
}