.layout {
    /* background-color: #060606; */
    background-color: #252525;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
    padding: 3% 6%;
    display: flex;
    gap: 3%;
    /* max-width: 1300px; */
}

.navbar {
    width: 25%;

    /* border: 1px solid red; */
}

.main {
    width: 75%;
    overflow: hidden;
    /* display: none; */
}



@media (max-width: 600px) {
    .layout {
        padding: 0%;
    }

    .navbar {
        display: none;
    }

    .main {
        width: 100%;
    }

}