.main {
    padding: 2vw 0vw;
}

.title {
    font-size: 1.9vw;
    font-weight: 900;
    width: fit-content;
    position: relative;
    margin-bottom: 2vw;
    text-transform: capitalize;

}

.title::after {
    left: 0;
    top: 100%;
    position: absolute;
    content: "";
    border: 0.4vh solid goldenrod;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    animation: tab 1s ease-in-out forwards;
}

@keyframes tab {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}



.title2 {
    font-size: 1.5vw;
    text-transform: capitalize;
    margin: 1vw 0px;
}


.map-container {
    position: relative;
    width: 100%;
    /* Adjust as needed */
    height: 30vh;
    overflow: hidden;
    border-radius: 1vw;
    margin-bottom: 2vw;

}

.map-container iframe {
    width: 100%;
    height: 100%;
}



.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 0, 0.3);
    /* Yellow overlay with 30% opacity */
    pointer-events: none;
    /* Allows interaction with the map */
}

.flex_rw {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.flex_cl {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: center;
}