.main {
    position: relative;
    animation: FadeUp 1s ease-in;
    position: relative;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    padding-bottom: 20px;
}


.background {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.background img {
    width: 60%;
    height: auto;
    opacity: 0.09;

}

.details {
    height: 100%;
    padding: 1vw 1vw;
    top: 0;
    /* display: none; */
}

.backIcon {
    position: absolute;
    top: -2vw;
    width: 2vw;
    height: auto;
    cursor: pointer;
    z-index: 4;
    transition: 0.3s;

}

.backIcon:hover {
    scale: 0.95;
}

.backIcon:hover::after {
    scale: 1.12;
}

.title {
    font-size: 2vw;
    font-weight: 700;
    text-transform: capitalize;
}

.address {
    width: 100%;
    padding-top: 0.5vw;
    font-size: 0.8vw;
    color: #ffffff90;
}

.designation {
    font-size: 1vw;
    padding-top: 0.5vw;
}

.about {
    font-size: 0.9vw;
    white-space: pre-wrap;
    font-family: sans-serif;
    line-height: 1.6;
}


@media (max-width: 600px) {

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .backIcon {
        position: fixed;
        top: 15px;
        left: 20px;
        width: 25px;
        height: 25px;
    }

    .title {
        font-size: 22px;
    }

    .address {
        padding-top: 10px;
        font-size: 11px;
    }

    .designation {
        font-size: 13px;
        padding-top: 12px;
    }

    .about {
        font-size: 11px;
        line-height: 1.6;
    }

}

@keyframes FadeUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}