.main {
    padding: 2vw 0vw;
    animation: FadeUp 1s ease-in;
    -webkit-animation: FadeUp 1s ease-in;
    flex: 1;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    /* overflow: hidden; */
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn_block {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;


}

.btn {
    right: 0;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    border: 0.75px solid goldenrod;
    padding: 5px 5px;
    border-radius: 5px;
    position: relative;
    background-color: transparent;
    cursor: pointer;

}

.btn .img_block {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.img_block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.btn_animation img {
    animation: flotDown 2s ease-in-out;

}

.btn:hover {
    box-shadow: 0px 0px 9px goldenrod;
}

.btn p {
    white-space: nowrap;
    max-width: 0px;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 2s;
    color: goldenrod;
    padding: 0;
    margin: 0;
}

.btn:hover p {

    max-width: 200px;
    margin: 0px 20px;

}


@media (max-width: 600px) {
    .main {
        padding: 10px;
    }

    .btn {
        margin-bottom: 20px;
    }
}


@keyframes flotDown {
    0% {
        top: 0%;
        opacity: 1;
    }

    45% {
        top: 100%;
        opacity: 0;
    }

    48% {
        top: -100%;
        opacity: 0;
    }

    49% {
        opacity: 1;
    }

    70% {
        top: 0%;
    }

    80% {
        top: 10%;
    }

    90% {
        top: 0%;
    }

    95% {
        top: 10%;
    }

    100% {
        top: 0%;
    }
}

@keyframes FadeUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}