.flex {
    display: flex;
    justify-content: space-between
}

.eduactionCard {
    position: relative;
    padding-inline-start: 1.5vw;
    color: whitesmoke;
}

.eduactionCardInner {
    padding-inline-start: 1.5vw;
    padding-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    font-size: 0.8vw;
}

.eduactionCardInner::before {
    position: absolute;
    content: '';
    width: 0.5vw;
    height: 0.5vw;
    background-color: #000;
    top: 0;
    left: 1.55vw;
    border-radius: 50%;
    transform: translate(-50%, 0%);
    background-color: #f5dab5;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.eduactionCardInner:hover::before {
    background-color: goldenrod;
}

.eduactionCardInner:hover.border {
    border-left: 0.1vw solid goldenrod;

}

.border {
    border-left: 0.1vw solid #f5dab5;
}


.eduactionCardInner span {
    height: fit-content;
}

.name {
    font-size: 1.2vw;
    height: fit-content;
    margin-top: -0.5vw;
    color: goldenrod;

}

.duration {
    margin-top: -0.5vw;
    font-size: 0.9vw;
}


.description {
    font-size: 0.9vw;
    color: #FFFFFF90;
    max-width: 70%;

}

@media (max-width: 600px) {
    .eduactionCard {
        position: relative;
        padding-inline-start: 1.5vw;
        color: whitesmoke;
    }

    .eduactionCardInner {
        padding: 0px 0px 12px 12px;
        font-size: 12px;
    }

    .eduactionCardInner::before {
        width: 10px;
        height: 10px;
        background-color: #000;
        top: 0;
        background-color: #f5dab5;
    }


    .name {
        font-size: 16px;
        height: fit-content;
        margin: -5px 0px 5px 0px
    }

    .flex {
        flex-direction: column;
    }

    .degree {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .degree .span {
        font-size: 8px;
    }

    .duration {
        margin-top: 0px;
        font-size: 11px;
    }


    .description {
        font-size: 11px;

    }
}