.flex {
    display: flex;
    justify-content: space-between
}

.eduactionCard {
    position: relative;
    padding-inline-start: 1.5vw;
    color: whitesmoke;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    position: relative;

}

.eduactionCardInner {
    padding-inline-start: 1.5vw;
    padding-bottom: 1.5vw;
    color: whitesmoke;
    position: relative;
}

.eduactionCardInner::before {
    position: absolute;
    content: '';
    width: 0.5vw;
    height: 0.5vw;
    background-color: #000;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, 0%);
    background-color: #f5dab5;
}


.border {
    border-left: 0.1vw solid #f5dab5;
}


.eduactionCardInner:hover::before {
    background-color: goldenrod;
}

.eduactionCardInner:hover.border {
    border-left: 0.1vw solid goldenrod;

}


.eduactionCardInner span {
    height: fit-content;
}

.name {
    font-size: 1.2vw;
    height: fit-content;
    margin-top: -0.5vw;
    color: goldenrod;
}

.duration {
    font-size: 0.9vw;
    margin-top: -0.5vw;
}

.designation {
    font-size: 1vw;
    margin-bottom: 0.1vw;
}

.mark {
    font-size: 0.8vw;

}

.description {
    font-size: 0.9vw;
    max-width: 70%;
    color: #FFFFFF90;
}

/* .eduactionCardInner::after {
    content: "Know More";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #0000002f;
    opacity: 0;
    border-radius: 12px;
    transition: 0.5s;
    padding-right: 20px;
    box-shadow: 0px 0px 10px 1px #ffffff90;

}

.eduactionCard:hover .eduactionCardInner::after {
    top: -10%;
    height: 100%;
    opacity: 1;
} */

.more {
    display: inline-block;
    margin-top: 10px;
    color: rgba(252, 182, 6, 0.615);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;

}

.more:hover {
    color: rgb(252, 182, 6);

}

@media (max-width: 600px) {
    .eduactionCard {
        position: relative;
        padding-inline-start: 1.5vw;
        color: whitesmoke;

    }

    .eduactionCardInner {
        padding: 0px 0px 20px 12px;
        font-size: 12px;
    }

    .eduactionCardInner::before {
        width: 10px;
        height: 10px;
        background-color: #000;
        top: 0;
        background-color: #f5dab5;
    }


    .name {
        font-size: 16px;
        height: fit-content;
        margin: -5px 0px 5px 0px
    }

    .flex {
        flex-direction: column;
    }

    .designation {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .duration {
        margin: 0px 0px 10px 0px;
        font-size: 11px;
    }


    .description {
        font-size: 11px;
        max-width: 95%;
        text-align: justify;
    }
}

@keyframes FadeUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}