.skill_block {
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: grey;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 700;
    padding: 0.5vw;
}

.skill_block_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon {
    width: 100%;
    height: 80%;
    padding: 0.3vw;
    display: flex;
    justify-content: center;
}

.icon img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    /* aspect-ratio: 4/3; */

}