.skill_block {
    min-width: 5vw;
    height: 5vw;
    max-width: fit-content;
    width: 100%;
    border-radius: 1vw;
    background-color: rgba(128, 128, 128, 0.315);
    cursor: pointer;
    font-size: 1vw;
    font-weight: 700;
    padding: 0.5vw;
}


.skill_block_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.icon {
    width: 100%;
    height: 80%;
    padding: 0.3vw;
    display: flex;
    justify-content: center;
}


.icon img {
    width: auto;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 4/3;


}

.skill_block:hover {
    background-color: #25252590;
    box-shadow: 0px 0px 9px goldenrod;

}

.skill_block:hover img {
    mix-blend-mode: difference;
}


@media (max-width: 600px) {
    .skill_block {
        height: 75px;
        max-width: auto;
        font-size: 12px;
        padding: 5px 10px;
        background: #ffffff10;
    }


}