.button {
    background-color: transparent;

    color: #f5dab5;
    width: fit-content;
    padding: 0.6vw 10vw;
    font-size: 0.8vw;
    border: none;
    box-shadow: 0px 0px 10px #4e4e4daf;
    border: 0.2vh solid #4e4e4d;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: 0.3s;
    outline: none;

}

.button:hover {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}

.button:active {
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);

}

@media (max-width: 600px) {

    .button {
        padding: 10px 50px;
        font-size: 16px;
        border-radius: 21px;
    }

    .button:hover {
        transform: scale(0.96);

    }
}