.contant_input {
    width: 100%;
    position: relative;

}

.contant_input input {
    width: 100%;
    height: 3vw;
    background-color: transparent;
    outline: none;
    border: 0.2vh solid #4e4e4d;
    border-radius: 0.4vw;
    padding-inline-start: 1vw;
    color: blanchedalmond;
    font-size: 0.9vw;
    cursor: pointer;
}


.contant_input label {
    font-size: 0.9vw;
    position: absolute;
    top: 2.7vh;
    left: 2vh;
    transform: translate(0%, -50%);
    transition: 0.5s;

}

.contant_input label::after {
    content: "...";
}

.contant_input:focus-within label,
.contant_input:focus-within label::after,
.contant_input label.has-value,
.contant_input label.has-value::after {
    top: 0%;
    transform: translate(0%, -50%);
    content: "";

}



.contant_input ::-webkit-input-placeholder {
    color: transparent;
}


@media (max-width: 600px) {



    .contant_input input {
        width: 100%;
        height: 50px;
        font-size: 12px;
        padding-inline: 14px;
        border-radius: 12px;
    }


    .contant_input label {
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0%, -50%);
    }

    .contant_input:focus-within label,
    .contant_input:focus-within label::after,
    .contant_input label.has-value,
    .contant_input label.has-value::after {
        top: 0%;
        left: 15px;
        transform: translate(0%, -50%);
        content: "";

    }
}