.main {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #252525e4;
    display: grid;
    place-items: center;
    z-index: 999;
}

.main div {
    max-width: 1200px;
    max-height: 80%;
    height: 100%;
    /* width: 100%; */
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    position: relative;
}

.main div img {
    height: 100%;
    width: auto;
}

.main .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: 0px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .main div {
        max-width: 100%;
    }

    .main div img {
        width: 100%;
        height: auto;
        object-fit: scale-down;

    }
}